doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Babylon.js - 3D Web Game Development made easy

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Babylon.js - 3D Web Game Development made easy
        h3 Andreas Streichardt (@m0ppers)

      section
        h2 Babylon.JS
        ul
            li Open Source WebGL Engine
            li Specifically designed for Game Development
            li Physics Engine
            li Offline Support (IndexedDB)
            li Multiple Input devices (Gamepad, Touchpad, Mouse etc)
            li Multiple Output devices (WebVR, Occulus) :O
            li.bullet Intended to be simple to use
            li Written in TypeScript
            li.bullet Done by some guys @Microsoft

      section
        <img src="microsoft.jpg" height="100%">

      section
        h2 State of WebGL
        ul
          li With iOS 8 released EVERY notable platform has WebGL support
          li WebGL 2 is being worked on
          li Based on OpenGL ES 2.0 (mobile OpenGL, which is supported on every smartphone)
          li Many apps are done using HTML5, expect the same for games now

      section
        h2 Babylon.JS is easy to use / get you started
        ul
          li Easy scene.pick support
          li Awesome blender scene importer (create a WebGL Demo in 5 minutes)
          li Eventing system
          li Animation system
          li Integrated assets loader
          li DebugLayer
          li Sound
          li Procedural Textures
          li Physics engine support

      section
        h2 Babylon.JS is designed for performance
        ul
          li Instancing
          li Static drawing
          li Mesh merging
          li Incremental scene loading
          li SIMD.js (ES7) (probably Spartan showcase ;) )

      section(data-bespoke-state='emphatic')
        h1 Hands on!
      
      section
        h1 Thanks!
        h3 Further resources
        ul
          li http://www.babylonjs.com
          li http://www.microsoftvirtualacademy.com/liveevents/webgl-3d-game-development-with-babylon-js
          li http://davidscottlyons.com/threejs/presentations/frontporch14/#slide-0
          li https://github.com/m0ppers/babylonjs-presentation-demo
      
    script(src='build/build.js')
